@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
	background: white url('Images/background.jpg');
	background-size: 100% 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	width: 100%;

}

div.logo img {
	width: 25%;
	display: block;
	margin: auto;
	margin-top: 10%;
	padding-bottom: 10%;
	padding-top: 60px;
}

div.form {
	margin: 5% auto;
	width: 70%;
	background-color: rgb(255,255,255);
	padding: 40px;
	border-radius: 20px;
}

label {
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
}

p {
	padding-bottom: 0px;

}

input[type=text] {
	width: 100%;
	margin-bottom: 30px;
	border: none;
	border-bottom: 2px solid darkgrey;
	height: 60px;
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
	background-color: rgb(255,255,255);
}

input[type=text]:focus {
	background-color: rgb(155,219,245,0.05) ;
}

div.button {
	text-align: center;
}
button {
	background-color: black;
	color: white;
	border-radius: 10px;
	width: 40%;
	height: 80px;
	font-size: 2em;
	margin: 0 auto;
}