@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: 'Roboto', sans-serif;
}

p, div, image, header, button, h1,h2,h3 {
	padding: 0;
	margin: 0;
}

b {
	font-weight: 200;
}

header {
	background-color: black;
	margin: 0;
	padding: 0;
}

div.nav {
	width: 100%;
	height: 110px;
	margin: 0;
	background-color: black;

}

img.logo {
	width: 50px;
	padding-top: 20px;
}

div.logo {
	width: 20%;
	float: left;
	text-align: center;
	
}

div.nav_buttons {
	width: 33%;
	margin: auto;
	color: white;
	text-align: right;
	padding-left: 140px;
	display: inline-block;


}

ul.nav {
	list-style-type: none;
	margin: 0;
	padding-top: 40px;
	text-align: center;
	font-size: 100%;
	font-family: 'Roboto', sans-serif;

}

li {
	display: inline;
	padding: 15px;

}

li a {
	text-decoration: none;
	color: white;
	text-align: center;
}

li a.nav:hover {
border-bottom: 3px solid white;
padding-bottom: 15px;
}

li a.active {
	border-bottom: 3px solid white;
	padding-bottom: 15px;
}

div.login {
	float: right;
	margin: auto;
	margin: 25px 0px;
	margin-right: 20px;
	padding: 0;

	
}

.netlify-identity-user-details {
	display: none;
}

.netlify-identity-logout {
	display: inline-block;
}



div.header {
	padding: 0;
	margin: 0;
}

div.title {
	float: left;
	width: 45%;
	color: white;
	background: black;
	height: 600px;
}

h1.title {
	font-family: 'Roboto', sans-serif;
	font-size: 45px;
	padding-left: 15%;
	padding-top: 200px;
	margin-bottom: 5%;
}

div.header_image {
	float: right;
	width: 55%;
	color: white;
	text-align: center;
	padding-top: 146px;
	background-color: black;
}

img.header_image {
	height: 450px;
	padding: 0;
	margin: 0;
}

a.buy_tag {
	text-decoration: none;
	border: 2px solid white;
	border-radius: 10px;
	padding: 10px;
	margin: 15%;
	color: white;
	font-family: 'Roboto', sans-serif;
}

a.buy_tag:hover {
	background-color: white;
	color: black;
}

section.section1 {
	background-color: white;
	font-family: 'Roboto', sans-serif;
	color: black;

}

div.s1_text {
	float: left;
	background-color: white;
	width: 50%;
	height: auto;
}

div.s1_image {
	float: right;
	background-color: white;
	width: 50%;
	height: 520px;
	text-align: center;
	margin-bottom: 20px;
	padding-top: 80px;
}

h2.s1_title {
	padding-top: 25%;
	padding-left: 15%;
	padding-bottom: 20px;

}

p.s1_text {
	padding-left: 15%;
	margin-bottom: 40px;

}

img.tutorial {
	height: 510px;
	padding: 40px;
}

section.buy_container {
	color: black;
	background-color: white;
	height: 800px;
	padding-top: 80px;
}

a.supported_devices {
	text-decoration: none;
	border: 2px solid black;
	border-radius: 10px;
	padding: 10px;
	margin: 0 15%;
	color: black;
	font-family: 'Roboto', sans-serif;
}

a.supported_devices:hover {
	background-color: black;
	color: white;
}

section.section2 {
	background-color: black;
	height: 800px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding-top: 40px;
	margin-bottom: 320px;

}

h2.s2_header {
	text-align: center;
	padding-top: 40px;
}

div.steps {
	padding: 30px 6%;
	margin: 20px;
}

h2.steps_header {

}

p.steps {
	margin-bottom: 20px;
}

img.step1 {
	width: 85px;
	display: inline-block;
}

a.step1_button {
	text-decoration: none;
	border: 2px solid white;
	border-radius: 10px;
	padding: 10px 60px;
	margin: 0 0px;
	color: white;
	font-family: 'Roboto', sans-serif;

}

a.step1_button:hover {
	background-color: white;
	color: black;
}

footer {
	background-color: white;
	height: 100px;
	text-decoration-style: none;
}

div.footer {
	float: left;
	width: 40%;
	padding: 40px;
	
}

div.footer_res {
	float: right;
	width: 40%;
	padding: 40px;
	text-align: right;
}


