

button.submit {
	background-color: white;
	border: black 2px solid;
	padding: 10px 80px;
	border-radius: 10px
}

a.submit {
	text-decoration: none;
	color: black;
}

button.submit:hover {
	text-decoration: none;
	color: white;
	background-color: black;
}