footer {
	background-color: white;
	text-decoration-style: none;
	
}

div.footer {
	float: left;
	width: 50%;
	background-color: red;
	
}

div.footer_res {
	float: right;
	width: 50%;
	background-color: blue;
	text-align: right;
}