@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body, div {
	padding: 0;
	margin: 0;
	background-color: black;
	font-family: 'Roboto', sans-serif;
}

div.nav_container {
	margin: 0;
	padding: 0;
	text-align: center;
}

div.nav_buttons {
	display: inline-block;
	margin: 0;
	padding-top: 40px;
	width: 50%;
}

div.logo {
	float: left;
	margin: 0;
	padding: 0;
	width: 25%;
	text-align: left;
}

div.signup {
	float: right;
	margin: 0;
	padding-top: 40px;
	width: 25%;
}

img.logo {
	height: 69px;
	padding-top: 20px;
	padding-left: 20%;
}

ul.nav {
	text-align: center;
}

li {
	display: inline;
	padding: 0 20px;
}

li a {
	text-decoration: none;
	color: white;
	text-align: center;
}

li a.nav:hover {
border-bottom: 3px solid white;
padding-bottom: 15px;
}

li a.active {
	border-bottom: 3px solid white;
	padding-bottom: 15px;
}

div.login {
	color: white;
	text-align: right;
}
